.formular {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 70px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  opacity: 1;
}

.formular > form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: #eee;
  color: black !important;
  box-shadow: 2px 5px 8px grey;
  border: 1px solid #eee;
  transition: all .4s;
}

.form-input-name {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input-name > input {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  border: .4px solid lightgray;
  background-color: rgb(218, 208, 208);
}

.game-name {
  font-size: 30px !important;
  margin-bottom: 20px;
  color: rgb(91, 204, 16);
}

.btn-valider {
  display: flex;
  margin-top: 50px;
  width: 30%;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(88, 247, 88);
  padding: 15px;
}

.btn {
  transition: all .4s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 2px 5px 8px grey;
}

.alert {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 5px 7px;
  color: rgb(248, 36, 36);
  background-color: rgba(238, 168, 156, 0.726);
  border-left: 5px solid !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 10px;
  opacity: 0;
}

.close-alert {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.d-none {
  display: none;
}

.close-alert:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .formular {
    margin-top: 100px;
  }
}